[general]
; email address the fax messages sent to by the telephone system
senderAddress=
; email address the fax messages should be sent to after processing
mailTo=

; mail account to retrieve the data from. can be POP3 or IMAP
[mailaccount]
; see http://php.net/manual/de/function.imap-open.php for details on mailbox
mailbox={mail.example.com:143/imap}
user=mail@example.com
password=xxx

[mailer]
; enable sending of mails (true/false)
enable=false
; possible values: phpmail, smtp, none
method=smtp

; if mailer/method == "smtp", then the SMTP with auth is used for sending mails
; this sections contains the required settings
[smtp]
host=mail.example.com
port=25
username=mail@example.com
password=

[ocr]
; possible values: abbyyocr, ocrmypdf
tool = ocrmypdf

[comfort-pro]
username=Administrator
password=xxx
url=http://192.168.0.xxx
